{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center my-5">Merci à toi {{app.user.pseudo}} de faire confiance à {{site}}</h1>

<div class="container">
    <p class="text-center">Ici tu trouveras toutes ( ou presque ) les informations nécessaires pour utiliser ce site web.
    Le projet est de pouvoir donner la possibilité aux plus grands nombres de gérer leurs collections.</p>

    <p class="text-center">Ce site est gratuit. Et cela pour toujours.</p>

    <p class="text-center">Un lien vers l'instagram du créateur est disponible. Après ajout de ce dernier, il sera à l'écoute pour améliorer le site et le rendre encore mieux ( si, si,  c'est possible ! ).</p>

</div>



{% endblock %}
