{% extends 'base.html.twig' %}

{% block body %}


{% if users  %}

<div class="container text-center my-5">
<h1>Découvrez ici les autres utilisateurs</h1>
<h3>Regardez leurs collections et suivez les pour les retrouver facilement !</h3>
<form>
    <div class="input-group my-5">
        <input type="text"
               name="s"
               class="form-control"
               placeholder="Search..."
        >
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Submit</button>
</div>
    </div>
</form>
</div>



<div class="container">
    <div class="row">
            {% for user in users  %}
                    <div class="text-center mt-3 col-4 ">
                            <a href="{{ path('this_user', {'id':user.id}) }}"><h3>{{user.pseudo}}</h3></a>
                    </div>
        {% endfor %}
    </div>
</div>

    {% else %}

    <div class="text-center my-5">
        <h1 class="text-center">Votre recherche n'a rien donnée :/</h1>
        <a href="{{ path('other_users')}}" class="btn btn-outline-dark mt-5">Retour</a>
    </div>
    {% endif %}

    <div class="d-flex justify-content-center mt-5">
        <div class="navigation">
            {{ knp_pagination_render(users)}}
        </div>
    </d


{% endblock %}


