{% extends 'base.html.twig' %}



{% block body %}



<div class="container  my-5 text-center">

    <h1 class="">Êtes-vous sûr de vouloir supprimer cet élément de votre collection?</h1>
        <div class="row">
            <div class="col-12 mt-5">
                <form method="post">
                <input class="btn btn-primary center-block" name="confirm" type="submit"  value="OUI">
                <a class="btn btn-danger ml-3" href="{{ path('wish_show', { 'id': collection.id})}}" role="button">En fait, non!</a>
            </div>
        </form>
        </div>
</div>

{% endblock %}
