{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié!{% endblock %}

{% block body %}

<div class="container my-5">
    {% for message in app.flashes('notice') %}
        <div class="alert-info text-center mt-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}

<div class="container my-5">
    {% for message in app.flashes('warning') %}
        <div class="alert-info text-center mt-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container my-5">
        {% for message in app.flashes('danger') %}
            <div class="alert-info text-center mt-3" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        

    <form method="post" class="container my-5">

        <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
        <p>Merci de renseigner votre adresse mail, puis rendez-vous dans votre boîte mail afin de recevoir un lien de réinitialisation de votre mot de passe.</p>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

        <button class="btn btn-info mt-5" type="submit">
            Send mail !
        </button>

    </form>
{% endblock %}