{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}


<div class="container my-5">
    {% for message in app.flashes('notice') %}
        <div class="alert-info text-center mt-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
    <form method="post" class="my-5 container">

        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{{ token }}">

        <button class="btn btn-info my-5" type="submit">
            Register
        </button>
    </form>
{% endblock %} 